<ion-view >
  <ion-content class="padding center">
    <form novalidate class="simple-form">
    <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        Amount:
      </div>
        <select
            ng-model="selectAmmount"
            name="string"> 
                <option value="5" default>€5.00 EUR</option>
                <option value="10" default>€10.00 EUR</option>
                <option value="15" default>€15.00 EUR</option>
                <option value="20" default>€20.00 EUR</option>
                <option value="30" default>€30.00 EUR</option>
        </select>
    </label>
    </div>
    <div class="padding">
      <button class="button button-block button-energized" ng-click="update(selectAmmount)">Top Up €{{selectAmmount}}</button>
    </div>
    </form>

    <p class="padding">
      <ion-spinner ng-show="status.loading"></ion-spinner>
    </p>

    <p>
      {{status.message}}
    </p>


  </ion-content>
</ion-view>