<ion-view >
  <ion-content class="padding center">


    <label>Amount:
        <select
            ng-model="selectAmmount"
            name="string"> 
            <option value="5" default>5</option>
            <option value="10" default>10</option>
            <option value="15" default>15</option>
            <option value="20" default>20</option>
            <option value="30" default>30</option>
        </select>
    </label>

    <div class="padding">
      <button class="button button-full button-balanced" ng-click="update(selectAmmount)">Buy for €{{selectAmmount}}</button>
    </div>

    <p class="padding">
      <ion-spinner ng-show="status.loading"></ion-spinner>
    </p>

    <p>
      {{status.message}}
    </p>


  </ion-content>
</ion-view>