<ion-view>
    <ion-tabs class="tabs-striped tabs-top tabs-background-royal tabs-light">

        <ion-tab title="Tap" icon="ion-arrow-graph-up-left" href="#/tab/tap">
            <ion-nav-view name="tap-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Top Up" icon="ion-ios7-information" href="#/tab/topup">
            <ion-nav-view name="topup-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Account" icon="ion-person" href="#/tab/account">
            <ion-nav-view name="account-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>